@media only screen and (max-width:576px){
    .body-container{width: 90%;}
    .menubar{justify-content: space-between;padding: 0 40px;}
    .menu-cont{display: none;}
    .menu-cont.active{display: flex;flex-direction: column;position: fixed;top: 17px;right: 85px;}
    .menu-click{display:block;border: none;background-color: transparent;font-size: 30px;}
    .hero{grid-template-columns: 1fr;height: max-content;}
    .hero-1{margin: 80px 0;}
    .hero-1 p{width: 70%;margin:40px 0 80px 0;}
    .hero-2{justify-content: center;}
    .hero-2-1{right: 55px;top: 150px;}
    .hero-2-2{bottom: 80px;left: 35px;}
    
    .sect-2{height: max-content;}
    .sect-2 *{text-align: center;}
    .sect-2 h2{font-size: 40px;margin: 20px 0;}
    .sect-2 .four-step{flex-direction: column;}
    .sect-2 .four-step>div{display: flex;flex-direction: column;align-items: center;}
    .sect-2 .four-step p{width: 60%;}

    .sect-3{grid-template-columns: 1fr;gap: 50px;}
    .sect-3 p{padding: 30px 0;line-height: 150%;}

    .challenging-part .p1{gap: 50px;padding: 30px;}
    .challenging-part .p1 h2{font-size: 30px;}
    .challenging-part .p2{margin-bottom: 10px;}
    .challenging-part .p2 p{padding-left: 20px;margin-bottom: 0;}
    .challenging-part .p3{grid-template-columns: 1fr 1fr;margin: 40px 0;}
    .challenging-part .p3 img{width: 150px;height: 150px;}

    .sect-4-bg{left: -26px;}
    .sect-4-main-part{grid-template-columns: 1fr;gap: 30px;}
    .sect-4-main-part button{width: 100%;grid-column: span 2;}
    .sect-5-blocks{grid-template: repeat(6,350px)/repeat(1,minmax(300px,1fr));padding: 0 50px;gap: 50px;}

    .footer-cont{grid-template-columns: 1fr 1fr;}
    .footer-cont .bottom-sign{grid-column: span 2;margin-bottom: 30px;}
    }