*{margin: 0;padding: 0;box-sizing: border-box;font-family:  "Inter", sans-serif;color: white;}
.shape{font-family: 'Miama', sans-serif;}
.menubar{position:fixed;top: 10px;z-index: 99999;display: flex;justify-content: space-around;align-items: center;height: 60px;width: 100%;;}
.menubar .title{font-size: 28px;font-weight: 800;font-style: italic;color: #E6533C;}
.menu-cont{display: flex;gap: 20px;border: 1px solid gray;border-radius: 20px;}
.menu-cont a{border-radius: 20px;padding: 10px 30px;text-decoration: none;font-size: 16px;font-weight: 600}
.menu-cont a.active{background-color: #E6533C;}
.menu-cont button{display: none;}
body{background-color: #000;}
.body-container{width: 70%;margin: 0 auto;}
.hero{height: 650px;width: 100%;display: grid;grid-template-columns: 500px 300px;justify-content: space-around;align-items: center;padding-top: 100px;}
.hero-1 h2{font-size: 65px;color: white;}
.hero-1 h2 span{font-size: 200%;line-height: 60px;font-weight: 400;}
.hero-1 p{margin:30px 0;color: gray;}
.hero-btns{display: flex;gap: 30px;}
.btn1{padding: 15px 40px ;border-radius: 25px;text-decoration: none;border:1px solid white;}
.btn1.orange{border: none;background-color: #E6533C;}

.hero-2{display: flex;justify-content: flex-end;position: relative;align-items: center;}
.hero-2 img{width: 320px;max-height: 90%;object-fit: contain;}
.hero-2-1{position: absolute;top: 140px ;right: -10px;font-size: 12px;color: #bebebe;border: 1px solid rgba(128, 128, 128, 0.593);border-radius: 10px;padding: 10px;background-color: #bebebe32;}
.hero-2-1 span{font-size: 200%;font-weight: 700;}

.hero-2-2{ display: flex;gap:10px; position: absolute;bottom:95px;left:-65px;border: 1px solid #80808042;border-radius: 10px;padding: 10px;background-color: #bebebe1f;}
.hero-2-2 .circle{width:30px;height: 30px;border-radius: 50%;background-color: #E6533C;}
.hero-2-2 p{font-size: 12px;color:#bebebe; }
.hero-2-2 span{font-size: 150%;font-weight: 700;}

.sect-2{ display: flex;flex-direction: column;height: 500px;align-items: center;margin: 50px 0;justify-content: space-evenly;}
.sect-2 h2{font-size: 60px;}
.sect-2 p{color: gray;}
.sect-2 .four-step{display: flex;gap: 10px;}
.four-step .step img{border-radius: 50%;padding: 20px 0;}
.four-step *{text-align: center;}
.four-step p{font-size: 13px;color: gray;}
